<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Test Suite" parallel="false">


    <test name="TestOnSelenide">
        <classes>
            <class name="LoginTest"/>
            <class name="ViewTicketTest"/>
            <class name="AddCommentTest"/>
            <class name="ViewTicketTest"/>

        </classes>
    </test>
</suite>